#navigation {
    list-style-type: none;
    padding-bottom: 50px;
}

#navigation li {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    border-right: black solid thin;
}


.chart-group {
    display: inline;
    float: left;
}

.chart-group h2 {
    text-align: center;
}

.normal-chart-container {
     width: 600px;
     height: 400px;
     margin: 0 auto;
}