<%
  nav_urls = {
    'Cohorts' => :cohorts,
    'Privacy Settings' => :privacy,
    'Trends' => :trends,
    'Photo sources' => :photosources,
    'Likes' => :likes,
    'Shares' => :shares
  }
%>

<ul id="navigation">
  <% nav_urls.each do |text, dash| %>
    <li><%= link_to text, dashboard_path(dash) %></li>
  <% end %>
</ul>