<%
  nav_urls = [
    ['Cohorts', :cohorts],
    ['Shares', :shares],
    ['Likes', :likes],
    ['Stream', :stream],
    ['Photos and Albums', :trends],
    ['Email breakdown', :email],
    ['Photo sources', :photosources],
    ['Privacy Settings', :privacy],
    ['Commerce', :commerce],
    ['Photo Downloads', :misc],
    ['Virality', :virality]
  ]
%>

<ul id="navigation">
  <li>&nbsp;</li>
  <% nav_urls.each do |text, dash| %>
    <li><%= link_to text, dashboard_path(dash) %></li>
  <% end %>
</ul>