<%=  javascript_include_tag 'highcharts', 'chart_loading' %>

<%= render :partial => 'nav' %>

<table>
  <tr valign="top">

  <td>
  <div id="registered-users-group" class="chart-group">
    <h2>Registered Users</h2>
    <div>
      <div id="regusers_cum_registered_daily" class="normal-chart-container"/>
    </div>
    <div>
      <div id="regusers_cum_registered_weekly" class="normal-chart-container"/>
    </div>
    <div>
      <div id="regusers_daily_cum_registered" class="normal-chart-container"/>
    </div>
    <div>
      <div id="regusers_daily_registered_users" class="normal-chart-container"/>
    </div>
    <div>
      <div id="regusers_cum_registered_monthly" class="normal-chart-container"/>
    </div>
  </div>
  </td>

  <td>
  <div id="add-10photos-group" class="chart-group">
    <h2>Add Photo Cohorts (10+)</h2>
    <div>
      <div id="addphoto_cum_active_users_daily" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto_cum_perc_active_users_daily" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto_daily_cum_active_users" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto_daily_cum_perc_active_users" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto_cum_active_users_weekly" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto_cum_perc_active_users_weekly" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto_active_users_monthly" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto_perc_active_users_monthly" class="normal-chart-container"/>
    </div>
  </div>
  </td>

  <td>
  <div id="add-10photos-group" class="chart-group">
    <h2>Add Photo Cohorts (1+)</h2>
    <div>
      <div id="addphoto1_cum_active_users_daily" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto1_cum_perc_active_users_daily" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto1_daily_cum_active_users" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto1_daily_cum_perc_active_users" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto1_cum_active_users_weekly" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto1_cum_perc_active_users_weekly" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto1_active_users_monthly" class="normal-chart-container"/>
    </div>
    <div>
      <div id="addphoto1_perc_active_users_monthly" class="normal-chart-container"/>
    </div>
  </div>
  </td>

  <td>
  <div id="share-1photo-group" class="chart-group">
    <h2>Share Cohorts</h2>
    <div>
      <div id="shares_cum_active_users_daily" class="normal-chart-container"/>
    </div>
    <div>
      <div id="shares_cum_perc_active_users_daily" class="normal-chart-container"/>
    </div>
    <div>
      <div id="shares_daily_cum_active_users" class="normal-chart-container"/>
    </div>
    <div>
      <div id="shares_daily_cum_perc_active_users" class="normal-chart-container"/>
    </div>
    <div>
      <div id="shares_cum_active_users_weekly" class="normal-chart-container"/>
    </div>
    <div>
      <div id="shares_cum_perc_active_users_weekly" class="normal-chart-container"/>
    </div>
    <div>
      <div id="shares_active_users_monthly" class="normal-chart-container"/>
    </div>
    <div>
      <div id="shares_perc_active_users_monthly" class="normal-chart-container"/>
    </div>
  </div>
  </td>

  </tr>
</table>


<script type="text/javascript">

  var all_charts = {
    //Registered Users
    regusers_cum_registered_daily: {
      chart: null,
      url: 'registered_users/registered_users_cumulative.json'
    },
    regusers_cum_registered_weekly: {
      chart: null,
      url: 'registered_users/registered_users_cumulative.json?span=10080'
    },
    regusers_daily_cum_registered: {
      chart: null,
      url: 'registered_users/cumulative_registered_users_by_cohort.json'
    },
    regusers_daily_registered_users: {
      chart: null,
      url: 'registered_users/registered_users_by_cohort.json'
    },
    regusers_cum_registered_monthly: {
      chart: null,
      url: 'registered_users/registered_users_cumulative.json?span=43200'
    },


    //Add Photo Cohorts 10
    addphoto_cum_active_users_daily: {
      url: 'add_photo_cohorts/active_users_by_cohort.json?span=1440', chart: null
    },
    addphoto_cum_perc_active_users_daily: {
      url: 'add_photo_cohorts/active_users_percent_by_cohort.json?span=1440', chart: null
    },
    addphoto_daily_cum_active_users: {
      url: 'add_photo_cohorts/cumulative_active_users_by_cohort.json', chart: null
    },
    addphoto_daily_cum_perc_active_users: {
      url: 'add_photo_cohorts/cumulative_active_users_by_cohort_percent.json', chart: null
    },
    addphoto_cum_active_users_weekly: {
      url: 'add_photo_cohorts/active_users_by_cohort.json?span=10080', chart: null
    },
    addphoto_cum_perc_active_users_weekly: {
      url: 'add_photo_cohorts/active_users_percent_by_cohort.json?span=10080', chart: null
    },
    addphoto_active_users_monthly: {
      url: 'add_photo_cohorts/active_users_by_cohort.json?span=43200', chart: null
    },
    addphoto_perc_active_users_monthly: {
      url: 'add_photo_cohorts/active_users_percent_by_cohort.json?span=43200', chart: null
    },

    //Add Photo Cohorts 1
    addphoto1_cum_active_users_daily: {
      url: 'add_photo_cohorts/active_users_by_cohort.json?span=1440&photos=1', chart: null
    },
    addphoto1_cum_perc_active_users_daily: {
      url: 'add_photo_cohorts/active_users_percent_by_cohort.json?span=1440&photos=1', chart: null
    },
    addphoto1_daily_cum_active_users: {
      url: 'add_photo_cohorts/cumulative_active_users_by_cohort.json?photos=1', chart: null
    },
    addphoto1_daily_cum_perc_active_users: {
      url: 'add_photo_cohorts/cumulative_active_users_by_cohort_percent.json?photos=1', chart: null
    },
    addphoto1_cum_active_users_weekly: {
      url: 'add_photo_cohorts/active_users_by_cohort.json?span=10080&photos=1', chart: null
    },
    addphoto1_cum_perc_active_users_weekly: {
      url: 'add_photo_cohorts/active_users_percent_by_cohort.json?span=10080&photos=1', chart: null
    },
    addphoto1_active_users_monthly: {
      url: 'add_photo_cohorts/active_users_by_cohort.json?span=43200&photos=1', chart: null
    },
    addphoto1_perc_active_users_monthly: {
      url: 'add_photo_cohorts/active_users_percent_by_cohort.json?span=43200&photos=1', chart: null
    },


    //Share cohorts
    shares_cum_active_users_daily: {
      url: 'share_cohorts/active_users_by_cohort.json?span=1440', chart: null
    },
    shares_cum_perc_active_users_daily: {
      url: 'share_cohorts/active_users_percent_by_cohort.json?span=1440', chart: null
    },
    shares_daily_cum_active_users: {
      url: 'share_cohorts/cumulative_active_users_by_cohort.json', chart: null
    },
    shares_daily_cum_perc_active_users: {
      url: 'share_cohorts/cumulative_active_users_by_cohort_percent.json', chart: null
    },
    shares_cum_active_users_weekly: {
      url: 'share_cohorts/active_users_by_cohort.json?span=10080', chart: null
    },
    shares_cum_perc_active_users_weekly: {
      url: 'share_cohorts/active_users_percent_by_cohort.json?span=10080', chart: null
    },
    shares_active_users_monthly: {
      url: 'share_cohorts/active_users_by_cohort.json?span=43200', chart: null
    },
    shares_perc_active_users_monthly: {
      url: 'share_cohorts/active_users_percent_by_cohort.json?span=43200', chart: null
    }
  };

</script>

