<%=  javascript_include_tag 'highcharts' %>
<h1>Add Photo Cohorts</h1>

<div>
  <div id="addphoto_active_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="addphoto_active_users_by_cohort_weekly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="addphoto_active_users_by_cohort_monthly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<hr/>

<div>
  <div id="addphoto_active_users_percent_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="addphoto_active_users_percent_by_cohort_weekly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="addphoto_active_users_percent_by_cohort_monthly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<hr/>

<div>
  <div id="addphoto_cumulative_registered_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="addphoto_registered_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="addphoto_cumulative_active_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="addphoto_cumulative_active_users_percent_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="addphoto_cumulative_registered_users_by_cohort_weekly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="addphoto_cumulative_active_users_by_cohort_weekly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="addphoto_cumulative_active_users_percent_by_cohort_weekly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>


<hr/>
<h1>Share Cohorts</h1>

<div>
  <div id="shares_active_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="shares_active_users_by_cohort_monthly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<hr/>

<div>
  <div id="shares_active_users_percent_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="shares_active_users_percent_by_cohort_monthly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<hr/>

<div>
  <div id="shares_cumulative_registered_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<div>
  <div id="shares_registered_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<div>
  <div id="shares_cumulative_active_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<div>
  <div id="shares_cumulative_active_users_percent_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<script type="text/javascript">

  var all_charts = {
    //Add Photo Cohorts
    //Group 1
    addphoto_active_users_by_cohort_daily: {
      chart: null,
      url: 'add_photo_cohorts/active_users_by_cohort?span=1440'
    },
    addphoto_active_users_by_cohort_weekly: {
      chart: null,
      url: 'add_photo_cohorts/active_users_by_cohort?span=10080'
    },
    addphoto_active_users_by_cohort_monthly: {
      chart: null,
      url: 'add_photo_cohorts/active_users_by_cohort?span=43200'
    },
    //Group 2
    addphoto_active_users_percent_by_cohort_daily: {
      chart: null,
      url: 'add_photo_cohorts/active_users_percent_by_cohort?span=1440'
    },
    addphoto_active_users_percent_by_cohort_weekly: {
      chart: null,
      url: 'add_photo_cohorts/active_users_percent_by_cohort?span=10080'
    },
    addphoto_active_users_percent_by_cohort_monthly: {
      chart: null,
      url: 'add_photo_cohorts/active_users_percent_by_cohort?span=43200'
    },
    //Group 3
    addphoto_cumulative_registered_users_by_cohort_daily: {
      chart: null,
      url: 'add_photo_cohorts/cumulative_registered_users_by_cohort'
    },
    addphoto_registered_users_by_cohort_daily: {
      chart: null,
      url: 'add_photo_cohorts/registered_users_by_cohort'
    },
    addphoto_cumulative_active_users_by_cohort_daily: {
      chart: null,
      url: 'add_photo_cohorts/cumulative_active_users_by_cohort'
    },
    addphoto_cumulative_active_users_percent_by_cohort_daily: {
      chart: null,
      url: 'add_photo_cohorts/cumulative_active_users_by_cohort_percent'
    },
    addphoto_cumulative_registered_users_by_cohort_weekly: {
      chart: null,
      url: 'add_photo_cohorts/cumulative_registered_users_by_cohort?span=10080'
    },
    addphoto_cumulative_active_users_by_cohort_weekly: {
      chart: null,
      url: 'add_photo_cohorts/cumulative_active_users_by_cohort?span=10080'
    },
     addphoto_cumulative_active_users_percent_by_cohort_weekly: {
      chart: null,
      url: 'add_photo_cohorts/cumulative_active_users_by_cohort_percent?span=10080'
    },


    //Share Cohorts
    //Group 1
    shares_active_users_by_cohort_daily: {
      chart: null,
      url: 'share_cohorts/active_users_by_cohort?span=1440'
    },
    shares_active_users_by_cohort_monthly: {
      chart: null,
      url: 'share_cohorts/active_users_by_cohort?span=43200'
    },
    //Group 2
    shares_active_users_percent_by_cohort_daily: {
      chart: null,
      url: 'share_cohorts/active_users_percent_by_cohort?span=1440'
    },
    shares_active_users_percent_by_cohort_monthly: {
      chart: null,
      url: 'share_cohorts/active_users_percent_by_cohort?span=43200'
    },
    //Group 3
    shares_cumulative_registered_users_by_cohort_daily: {
      chart: null,
      url: 'add_photo_cohorts/cumulative_registered_users_by_cohort'
    },
    shares_registered_users_by_cohort_daily: {
      chart: null,
      url: 'add_photo_cohorts/registered_users_by_cohort'
    },
    shares_cumulative_active_users_by_cohort_daily: {
      chart: null,
      url: 'share_cohorts/cumulative_active_users_by_cohort'
    },
    shares_cumulative_active_users_percent_by_cohort_daily: {
      chart: null,
      url: 'share_cohorts/cumulative_active_users_by_cohort_percent'
    }

  };

  $(document).ready(function(){
    $.each(all_charts, function(chart_div, cfg){
      $.ajax({
        url: '/chart/'+cfg.url,
        container: chart_div,
        success: onChartDataRetrieved,
        error: function(){
          alert('Error loading '+chart_type+' chart');
        }
      });
    });
  });

  function onChartDataRetrieved(chart_config){
    var chart_type = this.container;
    chart_config.chart.renderTo = chart_type;
    all_charts[chart_type].chart = new Highcharts.Chart(addInteraction(chart_type, chart_config));
  }

  function addInteraction(chart_type, cfg_obj){
    if(chart_type.match(/_percent_/)){
          cfg_obj.yAxis.labels.formatter = function(){
            return (this.value*100)+'%';
          }
          cfg_obj.tooltip.formatter = function(){
            return this.x + '<br/>' + '<span style="color: ' + this.series.color+'">' + this.series.name+'</span> : <b>' +  Math.round(this.y*10000)/100 + '%</b>';
          }
    }
    return cfg_obj;
  }

</script>

