<%=  javascript_include_tag 'highcharts' %>

<div>
  <div id="active_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="active_users_by_cohort_monthly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<hr/>

<div>
  <div id="active_users_percent_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>
<div>
  <div id="active_users_percent_by_cohort_monthly" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<hr/>

<div>
  <div id="cumulative_registered_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<div>
  <div id="registered_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<div>
  <div id="cumulative_active_users_by_cohort_daily" style="width: 800px; height: 400px; margin: 0 auto" />
</div>

<script type="text/javascript">

  var all_charts = {
    //Group 1
    active_users_by_cohort_daily: {
      chart: null,
      url: '/chart/active_users_by_cohort?span=1440'
    },
    active_users_by_cohort_monthly: {
      chart: null,
      url: '/chart/active_users_by_cohort?span=43200'
    },
    //Group 2
    active_users_percent_by_cohort_daily: {
      chart: null,
      url: '/chart/active_users_percent_by_cohort?span=1440'
    },
    active_users_percent_by_cohort_monthly: {
      chart: null,
      url: '/chart/active_users_percent_by_cohort?span=43200'
    },
    //Group 3
    cumulative_registered_users_by_cohort_daily: {
      chart: null,
      url: '/chart/cumulative_registered_users_by_cohort'
    },
    registered_users_by_cohort_daily: {
      chart: null,
      url: '/chart/registered_users_by_cohort'
    },
    cumulative_active_users_by_cohort_daily: {
      chart: null,
      url: '/chart/cumulative_active_users_by_cohort'
    }
  };

  $(document).ready(function(){
    $.each(all_charts, function(chart_div, cfg){
      $.ajax({
        url: cfg.url,
        container: chart_div,
        success: onChartDataRetrieved,
        error: function(){
          alert('Error loading '+chart_type+' chart');
        }
      });
    });
  });

  function onChartDataRetrieved(chart_config){
    var chart_type = this.container;
    chart_config.chart.renderTo = chart_type;
    all_charts[chart_type].chart = new Highcharts.Chart(addInteraction(chart_type, chart_config));
  }

  function addInteraction(chart_type, cfg_obj){
    switch(chart_type){
      case 'active_users_percent_by_cohort_daily':
      case 'active_users_percent_by_cohort_monthly':
          cfg_obj.yAxis.labels.formatter = function(){
            return (this.value*100)+'%';
          }
          cfg_obj.tooltip.formatter = function(){
            return this.x + '<br/>' + '<span style="color: ' + this.series.color+'">' + this.series.name+'</span> : <b>' +  Math.round(this.y*10000)/100 + '%</b>';
          }
          break;
    }
    return cfg_obj;
  }

</script>

