<%=  javascript_include_tag 'highcharts', 'chart_loading' %>

<%= render :partial => 'nav' %>

<table>
  <tr valign="top">

  <td>
  <div id="privcy-settings-group" class="chart-group">
    <h2>Privacy Settings</h2>
    <div>
      <div id="pie_group_albums_privacy_allocation" class="normal-chart-container"/>
    </div>
    <div>
      <div id="pie_all_albums_privacy_allocation" class="normal-chart-container"/>
    </div>
    <div>
      <div id="monthly_percent_privacy_allocation" class="normal-chart-container"/>
    </div>
  </div>
  </td>

  </tr>
</table>


<script type="text/javascript">

  var all_charts = {
    pie_group_albums_privacy_allocation: {
      chart: null,
      url: 'privacy_settings/group_albums_privacy_allocation.json'
    },
    pie_all_albums_privacy_allocation: {
      chart: null,
      url: 'privacy_settings/all_albums_privacy_allocation.json'
    },
    monthly_percent_privacy_allocation: {
      chart: null,
      url: 'privacy_settings/monthly_privacy_allocation.json'
    }
  };

</script>

